@{
    ViewData["Title"] = "Messages List";
}

<ul>
    @if(Messages.MessagesListStatic!=null)
    {
        @foreach (var message in Messages.MessagesListStatic)
        {
            <li>
                @if(message.Text!=null)
                {
                    @message.Text
                }
                @if(message.Image!=null)
                {
                    <img src=@message.Image style="max-width:100px;">
                }
            </li>
        }
    }
</ul>