@{
    ViewData["Title"] = "Messages List";
}

<div>  
    <strong>Chat History</strong>  
</div>  

<ul>
    @if(Messages.MessagesListStatic!=null)
    {
        @foreach (var message in Messages.MessagesListStatic)
        {
            <li>
                @message
            </li>
        }
    }
</ul>