@{
    ViewData["Title"] = "Messages List";
}
<ul>
    @if(Messages.MessagesListStatic!=null)
    {
        @foreach (var message in Messages.MessagesListStatic)
        {
            <li>
                @message
            </li>
        }
    }
</ul>